#wrapper {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 95vh;
}

.selection {
    grid-column: 1;
}

.map {
    grid-column: 2;
    position: relative;
}

agm-map{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}

.delivery{
    display: grid;
    width: 100%;
    height: 10vh;
    padding-top: 15px;
    padding-bottom: 2px;
    grid-template-columns: 80% 20%;
    cursor: pointer;
}

.delivery:hover{
    color: white;
    background-color: black;
}

.info{
    grid-column: 1;
}

.done{
    grid-column: 2;
}

.deliveries-list{
    overflow: auto;
}

.deliveries-list::-webkit-scrollbar{
    -webkit-appearance: none;
}

.deliveries-list::-webkit-scrollbar:vertical{
    width: 10px;
}

.deliveries-list::-webkit-scrollbar-button:increment,.deliveries-list::-webkit-scrollbar-button {
    display: none;
} 

.deliveries-list::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

@media screen and (max-width: 700px){
    #wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 55vh 40vh;
    }
    .selection {
        display: grid;
        grid-row: 1;
    }
    .map {
        grid-column: 1;
        grid-row: 2;
        height: 40vh;
        width: 100vh;
    }
    agm-map{
        height: 40vh;
        width: 100vh;
        position: relative;
        z-index: -1;
    }
}

p{
    margin: 2px 0px;
    padding-left: 20px;
}

.done{
    text-align: center;
    margin-top: 15px;
    padding-left: 25%;
    padding-right: 25%;
}


.button{
    height: 6vh;
    width: 100%;
    font-size: 1.6vh;
    font-weight: 700;
    color: black;
    background-color: white;
    border-color: white;
    transition-duration: 0.3s;
    border-radius: 8px;
}

.button:hover{
    background-color: rgb(249, 225, 72);
    color: black;
}