<div id="wrapper">
    <div class="selection">
        <div class="deliveries-list">
            <div class="delivery" *ngFor="let d of deliveries" (click)="showMap(d)">
                <div class="info">
                    <p><fa-icon [icon]="faIdCard"></fa-icon> {{d.client_name}}</p>
                    <p><fa-icon [icon]="faBox"></fa-icon> {{d.delivery_name}}</p>
                    <p><fa-icon [icon]="faMapMarker"></fa-icon> {{d.client_direction}}</p>
                    <p><fa-icon [icon]="faPhone"></fa-icon> {{d.client_phone}}</p>
                </div>
                <div class="done">
                    <button class="button" (click)="delivered(d)"><fa-icon [icon]="faPeopleCarry"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div #map id="map" class="map">
        <agm-map [latitude]="this.latitude" [longitude]="this.longitud" [zoom]="15">
            <agm-marker [latitude]="this.latitude" [longitude]="this.longitud"></agm-marker>
        </agm-map>
    </div>
</div>